In [2]:
# Antonio
n1=7
n2=8
print('resultado', n1+n2)

resultado 15

In [4]:
# Daiane
print(10 // 3)

3

In [12]:
#rodrigo
A = 7
B = 5
print(A > B)

True

In [22]:
#Alysson
nome = "rodrigo"
idade = 60
print (f"olá {nome}, você tem {idade} anos")

olá rodrigo, você tem 60 anos

In [27]:
#mathews

x = 9
y = 3
print ("o resultado" , x/y)

o resultado 3.0

In [32]:
#Davi
preco = 10.50
quantidade = 6
print(f"o resultado é: {preco * quantidade}")

o resultado é: 63.0

In [35]:
#Erondina
numero = 30
numero2 = 30
print(numero != numero2)

False

In [43]:
#mathews janierry
nome = "davi"
idade = 45
altura = 1.90
print (f"meu nome é {nome} silva, tenho {idade} anos e tenho {altura} de altura.")

meu nome é davi silva, tenho 45 anos e tenho 1.9 de altura.

In [46]:
#igor
nome = "alison matheus"
idade = 153
altura = 1.98
peso = 86
print(f"ola sou {nome}, tenho {idade} anos, minha altura é {altura}, e peso {peso}")
print(type(altura))

ola sou alison matheus, tenho 153 anos, minha altura é (1, 98), e peso 86
<class 'tuple'>

In [2]:
#Bianca e Suyany
nome = "Josué"
idade = 29
peso = 65
altura = 1.66
print(f"voce {nome} tem o IMC no valor de {peso/(altura**2)}")

voce Josué tem o IMC no valor de 23.588329220496444

In [10]:
# antonio junior

print(f'resultado: {10>5}')

print('resultado:', 10>5)

resultado: True
resultado: True

In [12]:
#mathews souza
altura= 4
base= 12
print (f"a area quadrada de um ambiente de {altura}m por {base}m é: {altura*base}")

a area quadrada de um ambiente de 4m por 12m é: 48

In [14]:
#vitoria
base =3
altura =8
print(f"a area do triangulo é: {(base*altura)/2}")

a area do triangulo é: 12.0

In [22]:
# gustavo
preco = 20
desconto = 0.1
quantidade = 4
print(f"O valor da compra de {quantidade} camisas no valor de {preco} reais é: {quantidade*preco} reais")
print(f"O valor com desconto é: {int((quantidade*preco)-(quantidade*preco)*desconto)} reais")

O valor da compra de 4 camisas no valor de 20 reais é: 80 reais
O valor com desconto é: 72 reais

In [1]:
#Mauricio
nome = input ("qual é o seu nome")
idade = int (input("qual a sua idade"))
nota1 = int (input("qual a sua nota"))
nota2 = int (input("qual a sua nota"))
media = (nota1+nota2)/2
print (f"meu nome é: {nome}, minha idade è: {idade} e minha media é: {media}")
if media>=7 :
    print ("aprovado")
else:
    print ("reprovado")

meu nome é: Mauricio, minha idade è: 40 e minha media é: 9.0
aprovado

In [2]:
#suyany
nome_produto = input("nome do produto:")
valor_produto = float(input("valor do produto:"))
print(f"o nome do produto é: {nome_produto} e o seu valor é: {valor_produto}")

o nome do produto é: arroz e o seu valor é: 5.5

In [ ]:
cont= "olá mundo"

for x in [[1,8,6], "porta", 5 + 8, cont]:
    print(x,type(x))

In [ ]:
cont = 5-1

for x in [5,6,3, "casa", cont]:
    print(x)